<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon--small icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Service</a></li>
    <li class="nav__item"><a href="#">About US</a></li>
    <li class="nav__item"><a href="#">Works</a></li>
    <li class="nav__item"><a href="#">Team</a></li>
    <li class="nav__item"><a href="#">Contact Us</a></li>
  </ul>
</nav>
